<p id="notice"><%= notice %></p>
<center>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @student.marks %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>
<%= link_to 'Comfirm', students_path, class:"btn btn-success" %>
<%= link_to 'Edit', edit_student_path(@student), class:"btn btn-info" %>
</center>